body { margin: 0 !important; }

body { font-family: Helvetica, arial, freesans, clean, sans-serif; margin: 0; padding: 20px; }

ul {padding: 0;}

#search {padding-bottom: 20px;}
#search #search-box {height:40px; width: 40%; padding: 0 10px; font-size:18px;}
#search button {height:40px; width: 10%; font-size:18px;}

#results {width:100%; }

    #results #header {margin:0;padding: 10px 0 5px 0; border-bottom:3px solid black;font-size:24px;list-style: none;}
    #results #header li {display:inline-block; width:24%;text-align: center;}
    #results #header li.name {text-align: left;}

    #results .result {margin:0; padding:0; border-bottom:1px solid lightgray;list-style: none;}
    #results .result:hover {background-color:#FEFEFF;cursor: pointer;}
    #results .result li {display:inline-block; width:24%;padding: 5px 0; line-height:48px;text-align: center;}
    #results .result li.name {text-align: left;}
    #results .virtual {vertical-align: middle;}
    #results .physical {font-size:24px;}

    #results .result .roles .role {vertical-align:top;padding:10px;border-top: 1px solid lightgray;}
    #results .result .roles .role ul {display: inline-block;width: 50%;}
    #results .result .roles .role li {display:inherit;float:left;width:100%;line-height:24px;text-align:left;}
    #results .result .roles .role li strong {float:left; width:100px;}
    #results .result .roles .bindings {display:inline-block; vertical-align:top;width: 40%;margin-top:10px; padding-left: 150px;}
    #results .result .roles .bindings ul {display:inline-block; width:100%;padding-left:50px;}
    #results .result .roles .bindings li {display:inherit;width:100%;text-align:left;line-height:24px;}

.hidden {display: none;}
.cl {clear:both;}